<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/1413/1413908.png"type="image/x-icon"/>
  <title>My-Shopping List</title>


