</head>
<body>
<nav>
  <% if (user) { %>
    <a href="/"><h4><i id="navBarShoppingCart" class="fa-solid fa-cart-shopping"></i></h4></a>
    <h4>Welcome, <%= user.username %>!</h4>
    <a id='navBar' href="/shoppingLists/sample">Sample List</a>
    <a id='navBar' href="/users/<%= user._id %>">My Lists</a>
    <a id='navBar' href="/auth/sign-out">Sign out</a>
  <% } else { %>
    <h3>Please sign in!</h>
    <a id='navBar' href="/shoppingLists/sample">Sample List</a>
    <a id='navBar'href="/auth/sign-up">Sign up</a>
    <a id='navBar' href="/auth/sign-in">Sign in</a>
  <% } %>
</nav>
