<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Sample List</h1>
    <div>
        <ul>
            <h3>Banana - [1] - Walmart - Grocery <br></h3>
            <h3>Bread - [1] - Trader Joes - Grocery <br></h3>
            <h3>White T-shirt - [1] - Costco - Clothing <br></h3>
            <h3>Black Shoes - [1] - Foot locker - Shoes <br></h3>
            <h3>Cherry - [1] - Whole Foods - Grocery <br></h3>
        </ul>
    </div>


<%- include('../partials/footer') %>
