<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Sample List</h1>
    <div>
        <ul>
            <h3>Banana - Walmart - Grocery - 1 <br></h3>
            <h3>Bread - Trader Joes - Grocery - 4 <br></h3>
            <h3>White T-shirt - Costco - Clothing - 3 <br></h3>
            <h3>Black Shoes - Foot locker - Shoes - 4 <br></h3>
            <h3>Cherry - Whole Foods - Grocery - 2 <br></h3>
        </ul>
    </div>


<%- include('../partials/footer') %>
