<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Shopping List</h1>

<a href="/items/edit">
    <button class="btn">Edit Shopping List</button>
</a>

<%- include('../partials/footer') %>
