h1 {
    text-align: center;
}

h2{
    display: flex;
    justify-content: center;
    gap: 8px;
}

#addForm{
    text-align: center;
}

#list {
    flex-direction: column;
}

.shoppingList {
    display: flex;
    align-items: center;
    gap: 10px;
}

#button{
    background-color: rgb(196, 193, 193);
    border-radius: 7px;
    font-size: 14px;
}