h1{
    text-align: center;
}

h2{
    text-align: center;
}

#button{
    background-color: rgb(194, 191, 191);
    border-radius: 7px;
    font-size: 14px;
    display: flex;
    margin: auto;
    margin-top: 12px;
}

input[type=text] {
    padding: 2px 6px;
    margin: 8px 0;
    border: 2px solid black;
}

form {
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
