h1{
    text-align: center;
}
h2{
    text-align: center;
}

#returnButton{
    text-align: center;
}

#button{
    background-color: rgb(194, 191, 191);
    border-radius: 7px;
    font-size: 14px;
    margin-top: 10px;
}

input[type=text] {
    padding: 2px 6px;
    margin: 8px 0;
    border: 2px solid black;
}