h1{
    text-align: center;
}
h2{
    text-align: center;
}

#returnButton{
    text-align: center;
}

#button{
    background-color: rgb(194, 191, 191);
    border-radius: 7px;
    font-size: 14px;
}